@font-face {
  font-family: 'LeeSeoyun';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

nav{
  width: 100%;
  padding : 0px 20px;
  background-color: #FEFEFE;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;

  .navbar{
    width: 75%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
    .logo {
      display: flex;
      align-items: center;
      color: #328E6E;
      font-family: 'LeeSeoyun';
      font-size: 25px;
      img{
        width: 50px;
        height: 50px;
        margin-right: 5px;
      }
    }
  
    .menu{
      position: absolute;
      display: flex;
      left: 50%;
      transform: translateX(-50%);
      margin-left: 0;
      gap: 100px;
      transition: color 0.3s;
      
      a {
        color: #000;
        &:hover {
          // color: #67AE6E;
          color: #787878;
        }
      }

      .active {
        color: #328E6E;
        // font-weight: bold;
      }
    }
    .search-section{
      margin-left: auto;
      margin-right: 1rem;
    }

    .auth-section {
      display: flex;
      align-items: center;
      position: relative;
    
      .user-info {
        display: flex;
        align-items: center;
        gap: 1rem;
        position: relative;
    
        .welcome-message {
          font-size: 0.95rem;
          color: #333;

          .userName{
            color: #34a53f;
          }
        }
    
        .user-avatar {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          cursor: pointer;
          transition: filter 0.3s ease;
          outline: 2px solid #6b6b6b;
    
          &:hover {
            filter: brightness(0.9);
          }
        }
    
        .dropdown-menu {
          position: absolute;
          top: 48px;
          right: 0;
          background-color: white;
          border: 1px solid #ccc;
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
          border-radius: 6px;
          display: flex;
          flex-direction: column;
          z-index: 1000;
          width: 150px;
    
          button {
            padding: 0.75rem 1.25rem;
            background: none;
            border: none;
            text-align: left;
            cursor: pointer;
            transition: background 0.2s;
    
            &:hover {
              background-color: #f5f5f5;
            }
          }
        }
      }
    }
  }
}