.SearchBar {
  padding: 0.1rem 0.8rem;
  border: 1px solid #ccc;
  border-radius: 15px;
  width: 150px;
  margin-right: 5px;
  transition: width 0.3s;
  &:focus {
    outline: none;
    width: 200px;
    border-color: #999;
  }
}
.SearchButton{
  cursor: pointer;
}

@media (min-width: 769px) and (max-width: 1024px) {
.SearchBar {
  width: 105px;
  &:focus {
    width: 135px;
  }
}
}

@media (max-width: 768px) {
.SearchBar {
  width: 180px;
  border-radius: 15px;
  &:focus {
    width: 210px;
  }
}

}