.region-selector-wrapper {
  padding: 20px;
  background-color: #E1EEBC;
  width: 100vw;

  .region-selector {
    position: relative;
    display: flex;
    align-items: center;
    overflow: visible;
    justify-content: space-between;
    padding: 60px 310px 20px 310px;
    // overflow: hidden;

    .swiper {
      width: 100%;
      overflow: hidden;
      padding: 10px 10px 0px 10px;
    }

    .swiper-wrapper {
      display: flex;
      align-items: center;
    }

    .swiper-slide {
      flex-shrink: 0;
    }

    .region-button {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      transition: all 0.3s ease;

      .region-icon {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-image: url('../../../assets/icon_area.png');
        background-size: auto 1800%;
        background-repeat: no-repeat;
        background-position: center top;
        background-color: #67AE6E;
        transition: all 0.3s ease;

        &:hover {
          transform: scale(1.05);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
        }
      }

      &.active {
        .region-icon {
          outline: 3px solid #328E6E;
          transform: scale(1.1);
        }

        .region-name {
          color: #328E6E;
        }
      }

      .region-name {
        font-size: 20px;
        color: #000;
        font-weight: 500;
        text-align: center;
      }

    }

    // 양쪽 화살표 버튼 스타일
    .custom-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
      cursor: pointer;
      font-size: 24px;
      background: white;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
      user-select: none;
    }

    .swiper-button-prev {
      margin-top: 5px;
      left: 200px;
    }

    .swiper-button-next {
      margin-top: 5px;
      right: 200px;
    }

    // 아이콘 배치
    .seoul .region-icon {
      background-position: center 0%;
    }

    .incheon .region-icon {
      background-position: center 6.25%;
    }

    .daejeon .region-icon {
      background-position: center 12.5%;
    }

    .daegu .region-icon {
      background-position: center 18.75%;
    }

    .busan .region-icon {
      background-position: center 31.25%;
    }

    .ulsan .region-icon {
      background-position: center 37.5%;
    }

    .gyeonggi .region-icon {
      background-position: center 25%;
    }

    .gwangju .region-icon {
      background-position: center 43.75%;
    }

    .gangwon .region-icon {
      background-position: center 50%;
    }

    .sejong .region-icon {
      background-position: center 100%;
    }

    .chungbuk .region-icon {
      background-position: center 56.25%;
    }

    .chungnam .region-icon {
      background-position: center 62.4%;
    }

    .jeonbuk .region-icon {
      background-position: center 81%;
    }

    .jeonnam .region-icon {
      background-position: center 87.5%;
    }

    .gyeongbuk .region-icon {
      background-position: center 68.6%;
    }

    .gyeongnam .region-icon {
      background-position: center 75%;
    }

    .jeju .region-icon {
      background-position: center 93.5%;
    }
  }
}