@font-face {
  font-family: 'LeeSeoyun';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

nav{
  width: 100%;
  padding : 0px 20px;
  background-color: #FEFEFE;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;

  .navbar{
    width: 75%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .logo {
      display: flex;
      align-items: center;
      color: #328E6E;
      font-family: 'LeeSeoyun';
      font-size: 25px;
      img{
        width: 50px;
        height: 50px;
        margin-right: 5px;
      }
    }
  
    .menu{
      display: flex;
      gap: 100px;

      a {
        color: #000;
        &:hover {
          color: #67AE6E; 
        }
        .dimmed {
          color: #858585;
        }
      }
      .active {
        color: #328E6E;
      }
    }
  }
}