.EditProfile,
.RequirePassword,
.EditProfileGoogle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: calc(100vh - 60px - 70px);

    h1 {
        margin-bottom: 10px;
    }

    form,
    .InfoChangeForm {
        width: 400px;
        // padding-top: 10vh;
        display: flex;
        flex-direction: column;
    }

    .editProfile-input {
        height: 45px;
        padding: 0 12px;
        margin-bottom: 25px;
        font-size: 16px;
        border: 2px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;

        &:focus {
            border-color: #67AE6E;
        }
    }

    .editProfile-btn {
        width: 110px;
        height: 45px;
        background: #ccc;
        color: #888;
        border: none;
        border-radius: 5px;
        font-size: 15px;
        cursor: pointer;
    }



    /* 이메일 row */
    .email-row {
        display: flex;
        flex-direction: column;
        margin-bottom: 0px;
        width: 100%;

        >div {
            display: flex;
            width: 100%; // ← 추가: 부모 폭 꽉 채우기
        }

        .emailInputWrap {
            display: flex;
            flex: 1;
            margin-right: 8px;

            .email-input {
                @extend .editProfile-input;
                flex: 1;
                margin-right: 8px;
            }

            .auth-btn {
                width: 110px;
                height: 45px;
                background: #67AE6E;
                color: #fff;
                border: none;
                border-radius: 5px;
                font-size: 15px;
                cursor: pointer;

                &:disabled {
                    background: #ccc;
                    color: #888;
                    cursor: not-allowed;
                }
            }
        }
    }

    .verifyWrap {
        display: flex;
        margin-bottom: 5px;

        .verify-group {
            display: flex;
            align-items: center;
            @extend .editProfile-input;
            flex: 1;
            margin-right: 8px;
            margin-bottom: 0px;

            &:focus-within {
                border-color: #67AE6E;
            }

            .verify-input {
                flex: 1;
                border: none;
                /* 이미 부모에서 border 있음 */
                outline: none;


            }

            .verify-timer {
                width: 50px;
                color: #328E6E;
                text-align: center;
            }
        }

        .verify-btn {
            @extend .editProfile-btn;

            &:disabled {
                background: #ccc;
                color: #888;
                cursor: not-allowed;
            }
        }

        .verify-btn.active {
            background: #67AE6E;
            color: #fff;

            &:focus-visible {
                border: 2px solid #10201b;
            }
        }
    }

    /* 인증코드 확인 메세지 */
    .dup-msg,
    .pw-msg {
        min-height: 1.2em;
        margin-bottom: 12px;
        font-size: 14px;
        text-align: center;

        &.success {
            color: #67AE6E;
        }

        &.error {
            color: #e74c3c;
        }
    }

    .requirePassword-btn {
        @extend .editProfile-btn;
        background-color: #67AE6E;
        color: #fff;
        width: 80%;
        align-self: center;

        &:focus-visible {
            border: 2px solid #10201b;
        }
    }
}

.email-dup-msg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 14px;
    color: #67AE6E;
    gap: 5px;
}

.RequirePassword {
    text-align: center;

    h2 {
        margin-bottom: 40px;
    }

    #current-password {
        width: 80%;
        margin-bottom: 10px;
    }
}

// ── 태블릿 (769px ~ 1024px) ──
@media (min-width: 769px) and (max-width: 1024px) {

    .EditProfile,
    .RequirePassword,
    .EditProfileGoogle {
        .title {
            margin: 60px 0 0 0;
            font-size: 28px;
        }

        align-items: center;
        justify-content: flex-start;

        form,
        .InfoChangeForm {
            width: 400px;
        }
    }

    .RequirePassword {
        .title {
            margin-bottom: 40px;
        }
    }
}

// ── 노트북 (1025px ~ 1440px) ──
@media (min-width: 1025px) and (max-width: 1440px) {
    h1 {
        margin: 30px 0 0 0;
    }
}

// ── 태블릿 &모바일 ──
@media (max-width: 1024px) {

    .EditProfile,
    .RequirePassword,
    .EditProfileGoogle {

        h1 {
            margin: 30px 0 0 0;
            font-size: 24px;
        }

        form,
        .InfoChangeForm {
            display: flex;
            flex-direction: column;
        }

        .InfoChangeForm,
        .PasswordChangeForm,
        .EmailChangeForm {

            .editProfile-input:first-of-type,
            .emailInputWrap:first-of-type {
                margin-bottom: 5px;
            }
        }
    }

    .email-dup-msg {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 14px;
        color: #67AE6E;
        gap: 5px;
    }
}

// ── 모바일 (≤ 768px) ──
@media (max-width: 768px) {

    .EditProfileGoogle {
        justify-content: flex-start;
        min-height: calc(100vh - 60px - 80px);

        .title {
            margin-top: 60px;
        }
    }

    .EditProfile,
    .RequirePassword,
    .EditProfileGoogle {
        h1 {
            margin: 30px 0 0 0;
            font-size: 24px;
        }

        form,
        .InfoChangeForm {
            width: 300px;
        }

        .editProfile-input {
            font-size: 14px;
            width: 200px;
        }

        .emailInputWrap {
            button {
                padding: 0 10px;
            }
        }

        .pw-msg {
            margin-bottom: 50px;
        }
    }
}