$spinner: #50A274;

.Loading {
    flex: 1;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;

}

.spinner {
    // 로딩 원의 크기
    width: 30px;
    height: 30px;

    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: $spinner;
    border-radius: 50%;

    animation: spin 1s linear infinite;

    margin: 50px;
}

// 로딩 애니메이션
@keyframes spin {
    to {
        transform: rotate(360deg); // 360도 회전
    }
}