.card-list {
  max-width: 1000px;
  margin: 0 auto; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  background-color: white;
}

  // ── 모바일 (≤ 768px) ──
  @media (max-width: 768px) {
    .card-list {
    max-width: 800px;
  }
}
  @media (max-width: 430px) {
    .card-list {
    padding: 0px 10px;
  }
}