.signup-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  background-color: #f9f9f9;

  .signup-form {
    width: 400px;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;

    .signup-title {
      font-family: 'GmarketSansMedium';
      text-align: center;
      font-size: 3.5rem;
      margin-bottom: 24px;
      color: #333;
    }
    
    .signup-input {
      height: 45px;
      padding: 0 12px;
      margin-bottom: 25px;
      font-size: 16px;
      border: 2px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
    }
    
    .email-row {

      .emailInputWrap, .verifyWrap{
        display: flex;
        align-items: center;
        margin-bottom: 15px;
      }

      .email-input {
        height: 45px;
        padding: 0 12px;
        font-size: 16px;
        border: 2px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        flex: 1;
        margin-right: 8px;
      }

      .auth-btn{
        width: 110px;
        background-color: #328E6E;
        color: #fff;
        height: 45px;
        border: none;
        border-radius: 5px;
        font-size: 15px;
        cursor: pointer;
      }


      .verifyWrap{
        display: flex;
        align-items: center;
        margin-bottom: 5px;

        .verify-group{
          display: flex;
          height: 45px;
          padding: 0 12px;
          font-size: 16px;
          border: 2px solid #ccc;
          border-radius: 5px;
          box-sizing: border-box;
          flex: 1;
          margin-right: 8px;
          align-items: center;

          .verify-input{
            // display: flex;
            // align-items: center;
          }

          .verify-timer{
            width: 50px;
            color:#328E6E;
          }
        }
        .verify-btn{
          width: 110px;
          background-color: #328E6E;
          color: #fff;
          height: 45px;
          border: none;
          border-radius: 5px;
          font-size: 15px;
          cursor: pointer;
  
          &:disabled {
            background-color: #ccc;     
            color: #888;                
            cursor: not-allowed;        
          }
          
        }




      }




    }

    .dup-msg {
      min-height: 1.2em;
      margin-bottom: 12px;  
      font-size: 14px;
      line-height: 1.2em;
      text-align: center;
    
      &.available {
        color: #67AE6E;
      }
      &.unavailable {
        color: #e74c3c;
      }
    }
    
    .signup-btn {
      height: 45px;
      border: none;
      border-radius: 5px;
      font-size: 15px;
      cursor: pointer;
      margin-bottom: 12px;
      background-color: #000;
      color: #fff;

    }

    .signup-btn.disabled{
      background-color: #c0c0c0;
      cursor: not-allowed;
    }

    .error-text {
      min-height: 1.5em; 
      color: #e74c3c;
      font-size: 14px;
      margin-bottom: 12px;
      text-align: center;
    }

  }

}


