.signup-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  background-color: #f9f9f9;

  .signup-form {
    width: 400px;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;

    .signup-title {
      font-family: 'GmarketSansMedium';
      text-align: center;
      font-size: 3.5rem;
      margin-bottom: 24px;
      color: #333;
    }
    
    .signup-input {
      height: 45px;
      padding: 0 12px;
      margin-bottom: 25px;
      font-size: 16px;
      border: 2px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
    }
    
    .email-row {
      display: flex;
      margin-bottom: 5px;

      .email-input {
        height: 45px;
        padding: 0 12px;
        font-size: 16px;
        border: 2px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        flex: 1;
        margin-right: 8px;
      }

      .duplicate-btn {
        width: 80px;
        background-color: #6C6C6C;
        color: #fff;
        height: 45px;
        border: none;
        border-radius: 5px;
        font-size: 15px;
        cursor: pointer;
      }
    }

    .dup-msg {
      min-height: 1.2em;
      margin-bottom: 12px;  
      font-size: 14px;
      line-height: 1.2em;
      text-align: center;
    
      &.available {
        color: #67AE6E;
      }
      &.unavailable {
        color: #e74c3c;
      }
    }
    
    .signup-btn {
      height: 45px;
      border: none;
      border-radius: 5px;
      font-size: 15px;
      cursor: pointer;
      margin-bottom: 12px;
    }

    
    .signup-btn {
      background-color: #000;
      color: #fff;
    }

    .error-text {
      min-height: 1.5em; 
      color: #e74c3c;
      font-size: 14px;
      margin-bottom: 12px;
      text-align: center;
    }

  }

}


