.theme-selector-wrapper {
  width: 100vw;
  padding: 1.5rem 17rem 2rem 17rem;
  background-color: #E1EEBC;
  display: flex;
  flex-wrap: nowrap;   
  justify-content: center;
  gap: clamp(0.5rem, 2vw, 2rem);
  // outline: 2px solid red;
  overflow: hidden;  

  .theme-selector-button {
    position: relative;
    flex: 1 1 150px;
    min-width: 200px;
    aspect-ratio: 250 / 300;
    border-radius: 50% 50% 5px 5px;
    outline: 5px solid #fff;
    box-shadow: 0px 5px 10px rgba(149, 157, 165, 0.2);
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.3s ease;
    transform-origin: center bottom;
    cursor: pointer;

    &:focus-visible {
      outline: 5px solid #90C67C;
    }

    .theme-title{
      position:absolute;
      bottom: 0px;
      padding: 20px 5px;
      font-size: 20px;
      width: 100%;
      height: 20%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      border: 5px solid #fff;
    }

    &:hover {
      outline: 5px solid #90c67c;
      transform: translateY(-10px);
    }

    &.active{
      outline: 5px solid #2A795F;
      transform: scale(1.05);
      .theme-title{
        color: #2A795F;
        font-weight: 600;
      } 
    }

    &.nature { background-image: url('https://img2.daumcdn.net/thumb/R658x0.q70/?fname=https://t1.daumcdn.net/news/202406/21/speaktravel/20240621140000946yvnv.jpg');}
    &.adventure {background-image: url('https://mblogthumb-phinf.pstatic.net/MjAyNDAxMTBfNDUg/MDAxNzA0ODY0OTYyOTI4.uzCPZVsqGwncaSb0KdbK4UZTfXzEKk3k4yl6nrmr2Ocg.SVyDULPmAb7eQ0wfRwX-0toQ-FLCzb77V8Ymm55ywkkg.JPEG.981jeju/SDIM0831.jpg?type=w800'); background-position: -55px center;}
    &.culture {background-image: url('https://tong.visitkorea.or.kr/cms/resource/84/3083584_image2_1.JPG');}
    &.shopping {background-image: url('https://image.fnnews.com/resource/media/image/2016/06/28/201606281657147348_l.jpg');}
    &.accommodation {background-image: url('https://images.mypetlife.co.kr/content/uploads/2021/06/16124810/43f39621-7.png');}
    &.food {background-image: url('https://health.chosun.com/site/data/img_dir/2024/01/02/2024010202095_0.jpg'); background-position: center -40px;}
  }
}

.mobile-only {
display: none;
}

/* ── 노트북 (1025px ~ 1440px) ── */
@media (max-width: 1440px) and (min-width: 1025px) {
  .theme-selector-wrapper {
    padding: 1.5rem 8rem 2rem 8rem;
    gap: clamp(0.5rem, 2vw, 1.5rem);

    .theme-selector-button {
      min-width: 145px;
      aspect-ratio: 250 / 300;
    }
  }

}

/* ── 태블릿 (769px ~ 1024px) ── */
@media (max-width: 1024px) and (min-width: 769px) {
  .theme-selector-wrapper {
    padding: 1.5rem 6rem 2rem 6rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 3rem 2rem;

    .theme-selector-button {
      // flex: 1 1 45%;
      // width: 180px;
      max-width: 200px;
      min-width: 120px;
      aspect-ratio: 250 / 300;
      // aspect-ratio: 5 / 6;
    }
  }
}

/* ── 모바일 (≤ 768px) ── */
@media (max-width: 768px) {
  .mobile-only {
    display: inline;
  }

  .theme-page h1 {
    .theme-pagetitleLine1{
      font-size: 2rem;
    }

    .theme-pagetitleLine2 {
    text-align: center;
    line-height: 3.5rem;
    font-size: 3rem;
    }
  }

  .theme-selector-wrapper {
    padding: 1rem 1.5rem 1.5rem 1.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 2rem 1rem;
    
    .theme-selector-button {
      // width: 80%;
      outline: 3px solid #fff;
      max-width: 150px;
      min-width: 120px;
      margin: 0 auto;
      aspect-ratio: 250 / 300;

      &.active{
        outline: 3px solid #2A795F;
      }
    }
  }
}
