.theme-selector-wrapper {
  width: 100vw;
  padding: 1.5rem 17rem 1rem 17rem;
  background-color: #E1EEBC;
  display: flex;
  flex-wrap: nowrap;   
  justify-content: center;
  gap: clamp(0.5rem, 2vw, 2rem);
  outline: 2px solid red;
  overflow: hidden;  

  .theme-selector-button {
      position: relative;
    flex: 1 1 150px;
    min-width: 200px;
    aspect-ratio: 250 / 300;
    border-radius: 50% 50% 5px 5px;
    outline: 5px solid #fff;
    // outline: 2px solid blue;
    box-shadow: 0px 5px 10px rgba(149, 157, 165, 0.2);
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.3s ease;
    transform-origin: center bottom;

    .theme-title{
      position:absolute;
      bottom: 0px;
      padding: 20px 5px;
      font-size: 20px;
        width: 100%;
        height: 20%;
      display: flex;
      align-items: center;
      justify-content: center;
        background-color: #fff;
    }

    &.active{
      outline: 5px solid #328E6E;
      transform: scale(1.05);
      .theme-title{
        color: #328E6E;
        font-weight: 600;
      }
    }

    &.healing { background-image: url('https://img2.daumcdn.net/thumb/R658x0.q70/?fname=https://t1.daumcdn.net/news/202406/21/speaktravel/20240621140000946yvnv.jpg');}
    &.adventure {background-image: url('https://img0.yna.co.kr/etc/inner/KR/2016/12/08/AKR20161208117400054_01_i_P4.jpg');}
    &.culture {background-image: url('https://tong.visitkorea.or.kr/cms/resource/84/3083584_image2_1.JPG');}
    &.food {background-image: url('https://health.chosun.com/site/data/img_dir/2024/01/02/2024010202095_0.jpg'); background-position: center -40px;}
  }
}