.Footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    border-top: 2px solid #328E6E;
    padding-top: 30px;

}

.Footer>div {
    padding: 10px 20px;
}

.producer-link {
    margin-left: auto;
}

.producer-link>p {
    display: flex;
    gap: 5px;

}

.producer-link>p>a,
.producer-link>p>a:visited {
    text-decoration-line: none;
}